.button{
    @include flex(flex, space-between, center, row, nowrap);

    font-size: 13px;
    line-height: 2.15;
    letter-spacing: 1px;
    border-radius: 26.5px;
    border: solid 1px $white;
    font-weight: bold;
    padding: 12.5px 32px;

    &:hover{
        cursor: pointer;
        transform: scale(.98);
        transition: $transistion;
    }

    &__arrow{ padding-left: 5px; }


}

.button--black{
    color: $black;
    border: solid 1px $black;
}
