section.about
    h3.about__title TENNIS
    div.info
        h2.info__title Raquetas.Accesorios. Pelotas.
        p.info__description Conoce nuestras raquetas y aprende a jugar Tennis como profesional.
        
    a.about__button.button.button--black(href="#") HISTORIA
        img.button__arrow(src="img/arrow-g.svg", alt="")
