footer.footer
    div.footer__generic
        div.terms
            a(href="#").terms__link.is-link-active Inicio
            a(href="#").terms__link Acerca de nosotros
            a(href="#").terms__link Historia
            a(href="#").terms__link Contato
        div.social
            img.social__icon(src="img/linkedin.svg", alt="")
            img.social__icon(src="img/vimeo.svg", alt="")
            img.social__icon(src="img/instagram.svg", alt="")
            img.social__icon(src="img/twitter.svg", alt="")
            img.social__icon(src="img/facebook.svg", alt="")
    img.footer__icon(src="img/logo.svg", alt="")
