header.header.container
    div.header__generic#header__generic
        img.header__icon(src="img/logo.svg", alt="Logo de empresa")
        div.header__line        
        
        nav.main-menu
            ul.main-menu__list
                li.main-menu__item
                    a(href="#").main-menu__link.is-link-active Inicio
                li.main-menu__item
                    a(href="#").main-menu__link Acerca de nosotros
                li.main-menu__item
                    a(href="#").main-menu__link Historia
                li.main-menu__item
                    a(href="#").main-menu__link Contacto
            
        div.language-menu
            a(href="#").language-menu__link.is-link-active ES
            a(href="#").language-menu__link EN

    h1.header__title Las mejores raquetas para jugar #[span Tennis]
    a(href="#").header__button.button ACERCA DE NOSOTROS
        img.button__arrow(src="img/arrow-w.svg", alt="Ícono de flecha")
        
  
