doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        meta(charset="utf-8")     
        meta(name="author", content="Ricardo Oliva Alonso")
        meta(name="title", content="Ricardo Oliva Alonso | Desarrollador Web | G4MESTORE")
        meta(name="description", content="Hola soy desarrollador web y esta página esta basada en Tienda de Juegos.")
        meta(name="robots", content="index, follow")
        title Ricardo Oliva Alonso | Desarrollador Web | G4MESTORE
           
        meta(name="theme-color", content="#000000")      
        link(rel="stylesheet", href="css/styles.css")  
        link(href="img/favicon.png", rel="shorcut icon", type="image/x-icon")

    body
        div.main-container
            include bar.pug
            include header.pug
            include about.pug
            include slider.pug
            include banner.pug
            include footer.pug
        script( src="js/main.js", defer)
    



    
