div.slider
    div.carrousel
        h2.carrousel__title Nuestras #[span Raquetas]
        p.carrousel__description Conoce nuestras raquetas y aprende a jugar Tennis como un profesional.
        
        div.controls
            img.control__icon#control__back(src="img/control.svg", alt="Ícono de control")
            img.control__icon#control__next(src="img/control.svg", alt="Ícono de control")
    div.top 
        
        div.top__generic#top__generic
            div.top__item
                div.top__item-number 1
                img.top__item-img(src="img/top.png", alt="Imagen de producto")
        
            div.top__item
                div.top__item-number 2
                img.top__item-img(src="img/top.png", alt="Imagen de producto")
        
            div.top__item
                div.top__item-number 3
                img.top__item-img(src="img/top.png", alt="Imagen de producto")
        
            div.top__item
                div.top__item-number 4
                img.top__item-img(src="img/top.png", alt="Imagen de producto")
        
            div.top__item
                div.top__item-number 5
                img.top__item-img(src="img/top.png", alt="Imagen de producto")
        
            div.top__item#abc
                div.top__item-number 6
                img.top__item-img(src="img/top.png", alt="Imagen de producto")
        
