/**/
$white: #ffffff;
$black: #1e2335;
$gray: #2b3049;
$gray-2: #787878;
$gray-l: #f3f4f8;
$green: #cbe346;
$border: #282e47;
/**/
$padding: 25px;
$max-width: 1440px;
/**/
$mq1: 640px;
$mq2: 768px;
$mq3: 1024px;
$mq4: 1200px;
/**/
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
$transistion: .5s ease;
/**/
$z1 : 2000;
$z2 : 1000;
